body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.main-container {
  max-width: 800px;
  margin: auto;
}
.header-container {
  background-color: #232f3e;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  align-items: center;
  width: 70rem;
  justify-content: space-evenly;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  letter-spacing: -1px;
}
.nav-links {
  list-style: none;
  display: flex;
  margin-inline: 16px;
  justify-content: space-around;
  padding: 0;
}
.nav-link {
  margin-right: 15px;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  /* padding: 4px 10px; */
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.search-input {
  border: none;
  width: 200px;
  padding: 4px;
  font-size: 14px;
}
.search-button {
  background-color: #f0c14b;
  color: #111;
  border: none;
  padding: 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
.additional-header {
  background-color: #2d3845;
  color: #ffffff;
  display: flex;
  font-weight: 600;
  padding: 10px 0;
  justify-content: space-around;
}

.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.resume-section {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.section-content {
  font-size: 16px;
  line-height: 1.6;
}
.personalinfo img {
  margin-top: -30px;
  height: 160px;
}

.section-1,
.section-2 {
  display: flex;
  justify-content: space-between;
}
.section-1 {
  align-items: center;
}
#about-section,
#Edu-section {
  width: 28rem;
}

#about-content,
#Exp-content,
#Edu-content {
  text-align: justify;
}

#skill-title,
#about-title,
#Exp-title,
#Edu-title,
#projects,
#Certificate,
#Languages {
  color: #e8bb49;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .main-container {
    max-width: 900px; /* Adjust the width for tablets */
  }
  .navbar {
    width: 100%; /* Adjust the width for tablets */
    flex-direction: column; /* Stack links vertically */
    /* Align links to the left */
    padding: 10px 0; /* Add more spacing */
  }
  .nav-link {
    margin: 8px 0; /* Add vertical spacing */
  }
  .additional-header {
    flex-direction: column; /* Stack additional headers vertically */
    align-items: center; /* Center align text */
  }
  .section-1,
  .section-2 {
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center align content */
  }
}
@media screen and (max-width: 480px) {
  .main-container {
    max-width: 900px; /* Adjust the width for mobile devices */
  }
  .header-container {
    flex-direction: column; /* Stack header content vertically */
    text-align: center; /* Center align text */
  }
  .logo {
    margin-right: 0; /* Remove right margin */
  }
  .search-bar {
    margin-top: 10px;
    width: 40%;
    justify-content: space-between; /* Add spacing from header */
  }
  .search-input {
    width: 40%; /* Expand input to full width */
  }
  .search-button {
    /* Add spacing from input */
  }
  .personalinfo img {
    margin-top: 0; /* Remove negative margin */
  }
  #about-section,
  #Edu-section {
    width: 100%; /* Full width for sections */
    margin-bottom: 20px; /* Add spacing between sections */
  }
  .section-content {
    font-size: 14px; /* Decrease font size for mobile */
  }
}
