body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.main-container {
  max-width: 800px;
  margin: auto;
}
.header-container {
  background-color: #232f3e;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  align-items: center;
  width: 70rem;
  justify-content: space-evenly;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  letter-spacing: -1px;
}
.logo img {
  width: 50px;
}
.nav-links {
  list-style: none;
  display: flex;
  margin-inline: 16px;
  justify-content: space-around;
  padding: 0;
}
.nav-link {
  margin-right: 15px;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  /* padding: 4px 10px; */
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.search-input {
  border: none;
  width: 200px;
  padding: 4px;
  font-size: 14px;
}
.search-button {
  background-color: #f0c14b;
  color: #111;
  border: none;
  padding: 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
.additional-header {
  background-color: #2d3845;
  color: #ffffff;
  display: flex;
  font-weight: 600;
  padding: 10px 0;
  justify-content: space-around;
}

.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.resume-section {
  padding: 7px;
  width: 50%;
  border-bottom: 1px solid #e0e0e0;
}
.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.section-content {
  font-size: 16px;
  line-height: 1.6;
}
.video-question {
  font-size: 16px;
  line-height: 0.1;
}
.personalinfo img {
  margin-top: -30px;
  height: 160px;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.part-2 {
  width: 50%;
}
.section-2 {
  display: flex;
  gap: 2px;
  justify-content: space-evenly;
}
#about-section {
  width: 28rem;
}
#Edu-content {
  width: 20rem;
}
#about-content,
#Exp-content,
#Edu-content {
  text-align: justify;
}

#skill-title,
#about-title,
#Exp-title,
#Edu-title,
#projects,
#Certificate,
#Languages {
  color: #e8bb49;
}
.head {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .main-container,
  .navbar {
    max-width: 500px;
  }
  .navbar {
    width: 100%;
    flex-direction: column;
    padding: 10px 0;
  }
  .nav-link {
    margin: 8px 0;
  }
  .additional-header,
  .section-1,
  .section-2 {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    width: 50px;
  }
  .main-container {
    max-width: 400px;
  }
  .header-container {
    flex-direction: column;
    text-align: center;
  }
  .logo {
    margin-right: 0;
  }
  .logo img {
    width: 50px;
  }
  .search-bar {
    margin-top: 10px;
    width: 200;

    justify-content: space-between;
  }
  .search-input {
    width: 400px;
    padding: 1px;
  }
  #about-section,
  #Edu-section {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-content {
    font-size: 12px; /* Decreased font size for mobile */
  }
}
